# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/curhapps"
APP_SECRET="qwertyu1234567"
APP_PORT="3000"
APP_URL="https://localhost:3000"
TOKEN_EXPIRED='1d'
ALLOW_ORIGIN='["http://localhost:4000","http://localhost:5000"]'

SMTP_HOST='sandbox.smtp.mailtrap.io'
SMTP_SENDER="mkikik27@gmail.com"
SMTP_USER='4248bed0dcfe93'
SMTP_PASS='a8e34e2ad491e0'